* {
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('http://www.fontsaddict.com/fontface/harry-potter.TTF');
}
body{
	overflow-x:hidden;
}
.cleaner{
	clear: both;
}
#omot{
	width:100%;
	height:auto;
	margin: 0px auto;
	justify-content:space-around;
	align-items: center;
}

#pozadina {
	background:url("../images/pozadina1.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin: 0px auto;
	height: 950px;
}

#logo {
	margin: 10px 100px 0px;
	float: left;
}
.topnav {
    overflow: hidden;
}
.topnav .icon {
    display: none;
		width: auto;
}
#meni ul .flexmeni {
	display: none;
}
#meni {
	float: left;
}

#meni ul {
	margin: 0px auto;
	padding-top: 75px;
}

#meni li {
	display: inline;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 25px;
}

#meni ul li a {
	color: #FFD700;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bold;
}

#meni ul li a:hover {
	text-decoration: underline;
}

#meni .aktivanLink {
	border-top: 2px solid #FFD700;
	padding-top: 10px;
}

#pretraga {
	float: right;
	margin: 65px 100px 0px;
}

#tbPretraga{
	padding: 10px;
	font-size: 15px;
	color: black;
	border: 1px solid #FFD700;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#tbDugme{
	font-size: 15px;
	padding: 10px;
	margin-left: -5px;
	background-color:#FFD700;
	border: 1px solid #FFD700;
	color: #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align:center;
}
#tbDugme:hover{
	background-color: #fff;
	color: #FFD700;
}

.cleaner {
	clear: both;
}

#prebaci {
	width: 240px;
	border-radius: 10px;
	border: 2px solid #FFD700;
	margin: 200px 0px 0 860px;
}

#dugmes {
	text-decoration: none;
	color: #FFD700;
	font-size: 35px;
	text-align: center;
	padding-top: 20px;
	font-variant: small-caps;
}

#fact {
	background-color: #ECF5EF;
	display: inline-block;
	border-radius: 20px;
	margin: 10px 0px;
}

#artiklL {
	width: 25%;
	text-align: center;
	font-size: 20px;
	float: left;
	margin-top: 50px;
}

#artiklL h3 {
	font-style: italic;
	font-size: 25px;
	color: #3B4255;
}

#artiklL p {
	font-variant: small-caps;
	color: black;
	padding-top: 20px;
}



#artiklD h3 {
	font-style: italic;
	font-size: 25px;
	color: #3B4255;
	margin-bottom: 20px;
}

#kuca {
	width: 100%;
}

#kuca th {
	font-size: 25px;
	font-variant: small-caps;
	text-align: center;
}

#kuca td {
	font-size: 22px;
	text-align: center;
}

#kuca tr {
	height: 50px;
}

footer {
	width:100%;
	margin: 0px auto;
	display: flex;
	justify-content:space-around;
	align-items: center;
	background-color: #9CBACD;
}

#autor {
	float: left;
	width: 38%;
	margin-left: 10%;
}

#autor a{
	color: #3B4255;
	font-size: 24px;
	text-decoration: underline;
}

#naslovFuter {
	font-size: 24px;
	font-variant: small-caps;
	font-style: italic;
	color: #3B4255;
}

#naslovFuter a:hover {
	color: #ECF5EF;
}

#meniFuter {
	padding-right: 100px;
	padding-top: 30px;
	width: 25%;
	padding-left: 16%;
}

#meniFuter ul {
	list-style-type: none;
	width: 147px;
}

#meniFuter ul li {
	font-size: 21px;
	text-align: left;
	padding-bottom: 11px;
}

#meniFuter ul li a {
	text-decoration: none;
	color: #3B4255;
	font-variant: small-caps;
}

#meniFuter ul li a:hover {
	color: #ECF5EF;
}
#social {
	width: 63%;
}
#social ul {
	list-style-type:none;
	display:flex;
}
#social li {
	padding:10px;
}

#social li a {
	font-size:40px;
	text-decoration: none;
	color: #3B4255;
}

#social li a:hover {
	color:	#ECF5EF;
}

#meniFuter .aktivanLink {
	font-weight: 900;
}

#fact h3 {
	font-style: italic;
	font-size: 25px;
	color: #3B4255;
	margin-top: 20px;
	text-align: center;
}

.col {
	
	margin: 1% 0 1% 1.6%;
	width: 31.7%;
}
.row {
	display: flex;
	justify-content: center;
}
.text {
	font-variant: small-caps;
	font-size: 20px;
	padding: 2%;
    font-style: italic;
    line-height: 145%;
		position: relative;
  	margin-top: 40px;
}

.col-1-of-2 {
	display: block;
	float:left;
	width: 45%;
	padding: 0 2.5%;
	padding-top: 50px;
}

.slika {
	border-radius: 20px;
}

.slika img {
	width: 100%;
	border-radius: 20px;
	-webkit-transition: all 2.5s ease;
    -moz-transition: all 2.5s ease;
    -ms-transition: all 2.5s ease;
    transition: all 2.5s ease;
}

.slika:hover img {
	-webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
